APP_NAME="Programming Forum"
APP_SECRET=

POSTGRES_HOST=
POSTGRES_HOST=programming-forum-db
POSTGRES_PORT=5432
POSTGRES_USER=admin
POSTGRES_PASSWORD=password
POSTGRES_DB=programming-forum

DB_DRIVER=pgsql
DB_HOST=${POSTGRES_HOST}
DB_PORT=${POSTGRES_PORT}
DB_DATABASE=${POSTGRES_DB}
DB_USERNAME=${POSTGRES_USER}
DB_PASSWORD=${POSTGRES_PASSWORD}

DATABASE_URL=${DB_DRIVER}://${DB_USERNAME}:${DB_PASSWORD}@${DB_HOST}/${DB_DATABASE}

###> symfony/mailjet-mailer ###
MAIL_MAILER=mailjet
MAIL_HOST=api.mailjet.com
MAIL_PORT=
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"

MAILJET_APIKEY=
MAILJET_APISECRET=
MAILER_DSN=mailjet+api://${MAILJET_APIKEY}:${MAILJET_APISECRET}@${MAIL_HOST}
###< symfony/mailjet-mailer ###